h1 {
    font-size: 5em;
}

#profile_pic {
    height: 400px
}

body {
    background-color: whitesmoke;
    color: rgb(201, 139, 76);
}

div {
    background-color: beige;
}
a{
    color: green;
    text-decoration: none;
}
.social-icons{
    height: 50px;
}
.container {
    /* Give the container a display of flex */
    display: flex;

    /* Set the direction to be row */
    flex-direction: row;

    /* Center the content in the middle */
    justify-content: center;    /* horizontally centered */
    align-items: center;        /* vertically centered */
}